<div class="card mb-3 p-0" [class.bg-success]="court.game" [class.text-white]="court.game" [class.bg-light]="!court.game">
  <div class="card-header p-2">
    <span class="align-middle">Court {{court.number}}</span>
    <button *ngIf="showDelete" class="btn btn-danger btn-sm float-right" (click)="removeCourt()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <button *ngIf="court.game" class="btn btn-primary btn-sm float-right" (click)="finishGame()">
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
  </div>
  <div class="card-body p-1">
    <h3 *ngIf="!court.game">Empty!</h3>
    <table *ngIf="court.game" class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>
            <app-timer [start]="court.game.started"></app-timer>
          </th>
          <th>1</th>
          <th *ngIf="court.game.homeTeam.length > 1">2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Home</th>
          <td *ngFor="let p of court.game.homeTeam" class="text-dark" [class.table-danger]="p.player.gender === 2"
            [class.table-primary]="p.player.gender === 1">{{p.player.name}}</td>
        </tr>
        <tr>
          <th>Away</th>
          <td *ngFor="let p of court.game.awayTeam" class="text-dark" [class.table-danger]="p.player.gender === 2"
            [class.table-primary]="p.player.gender === 1">{{p.player.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>