<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Pegboard</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/session']" routerLinkActive="active">Session</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/players']" routerLinkActive="active">Players</a>
    </li>
  </ul>

</nav>

<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>